$black : #000000;
$grey :rgb(24, 24, 24);
$red : #ff0000;

*{
    margin : 0;
    padding : 0;     
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background-color: $black;
    
}
header{ 
    
    display: flex;
    justify-content:space-between;
    background-color: $grey;
}
#listen{
    position: relative;
    width : 4.25em; 
    
    background-color: $grey;

}
#listen-click{
    position: relative;
    width : 4.25em;   
    background-color: $grey;
}
#listen:hover{
    background-color: $black; 
    cursor: pointer;
}
#listen-click:hover{
    background-color: $black; 
    cursor: pointer;
}
#top{     
    display : flex;
    justify-content: flex-end;
    list-style: none;    
    li{       
        background-color:  $grey;         
        padding-left: 1.5rem;
        padding-right : 1.5rem;
        padding-top : 0.5rem;
        padding-bottom: 0.5rem;

    } 
    li:hover{
        background-color:$black;
        cursor: pointer;
    }
    a ,li{
        text-decoration: none;
        color: white;
    } 

}
#main{   
    position: relative;
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    div h1{
        z-index: 0;            
    }
    #navbarshow{
        display: block;   
        background-color:  $grey;
        position: absolute;
        z-index: 1;
        
        li{               
            padding-left: 1rem;
            padding-right : 1rem;
            padding-top : 1rem;
            padding-bottom: 1rem;
            list-style: none;
        } 
        li:hover{
            background-color:#ff0000;
            cursor: pointer;
        }
        a ,li{
            text-decoration: none;
            color: white;
        }  
    }
    #navbarhide{       
        display: none;       
    }
}
